[submodule "CornerstonesStartup"]
	path = CornerstonesStartup
	url = https://github.com/CornerstonesQC/CornerstonesStartup.git
[submodule "Gate_Model"]
	path = Gate_Model
	url = https://github.com/SaashaJoshi/Gate_Model.git
